<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elderest - Formulario de registro de usuario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<h1>Registro de usuario:</h1>

<form method="POST" th:action="@{/registrar}" th:object="${usuario}">
    <div class="form-group col-md-6">
        <label for="usuarioNomeId" class="form-label">
            Nome do usuario:
        </label>
        <input id="usuarioNomeId" class="form-control" type="text"
               th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
               th:field="*{username}"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('username')}"
             th:errors="*{username}">
            Erro username
        </div>
    </div>

    <div class="form-group col-md-6">
        <label for="passwordId" class="form-label">
            Senha:
        </label>
        <input id="passwordId" class="form-control" type="password"
               th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
               th:field="*{password}"/>
        <div class="invalid-feedback"
             th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">
            Erro senha
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit" value="Criar">Criar</button>
    </div>
</form>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>
